<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks in a Van</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Rammetto+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c8023afafc.js" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <header>  
            Snacks in a Van <i style="color: #F5F2ED;" class="fas fa-shuttle-van"></i>
    </header>
    <nav>
        <section class="menu-bar" style="color: rgb(114, 85, 51);">
            <a href="/customer" style="color:rgb(114, 85, 51, 0.75);">Map <i class="fas fa-map-marked-alt"></i></a>
            &nbsp; | &nbsp;
            <a href="/customer/register" style="color: rgb(114, 85, 51, 0.75);">Register <i class="fas fa-user-plus"></i></a>
            &nbsp; | &nbsp;
            <a href="/customer/login" style="color: rgb(114, 85, 51, 0.75);">Login <i class="fas fa-sign-in-alt"></i></a>
            &nbsp; | &nbsp;
            <a href="/customer/menu" style="color:rgb(114, 85, 51, 0.75);">Menu <i class="fas fa-utensils"></i></a>
            <hr size="50">
        </section>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer>
        Group Project 2021-Implemented By Group WebG100
    </footer>
</body>
</html>