
<section>
    
    <h1>welcome {{thiscustomer.firstName}}</h1>
    <section style="text-align:center;">
            <a href="/{{thiscustomer._id}}" class="button">menu</a>
            <hr size="50">
    </section>
    

    
</section>