
<section>
    
    <h1>Welcome {{thiscustomer.firstName}}!</h1>
    <section style="text-align:center;">
            <a href="/customer/{{thiscustomer._id}}/menu" class="button">menu</a>
            <hr size="50">
    </section>
    
{{!-- <meta http-equiv="refresh" content="time; URL=/customer/{{thiscustomer.id}}" /> --}}
    
</section>