
<section style="text-align:center;">
    
    <h1>Welcome {{thiscustomer.firstName}}!</h1>
    <b><p>
        Click here to see our menu<i class="fas fa-level-down-alt"></i>
    </p></b>
        <button class="register-btn"><a href="/customer/{{thiscustomer._id}}/menu" class="a-register">Menu</a></button>
    
<meta http-equiv="refresh" content="time; URL=/customer/{{thiscustomer.id}}" />
    
</section>