<section>
    <p>Login not success, Please register.</p>
            {{!-- <a href="/customer/register" class="register-btn"> Register </a>  --}}
            <button class="register-btn"><a href="/customer/register" class="a-register">Register</a></button>
</section>