<section>
   <div>
        <form action="login" method="post">
            <ul style="list-style-type:none">
                <li>
                    <label for="email"> email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" id="email" name="email" placeholder="email">
                </li>
                </br>
                <li>
                    <label for="password"> password </label>
                    <input type="text" id="password" name="password" placeholder="password">
                </li>
                </br>
                <li>
                    <a href="/customer/register" class="button"> register </a>
                    <input type="submit" value="confirm"> 
                    
                </li>
        </form>
    </div>
</section>