<section id = "login-page">
   <div>
        <form action="login" method="post" >
            <ul style="list-style-type:none">
                <li>
                    <label for="email"> Email</label>
                    </br>
                    <input type="text" id="email" name="email" placeholder="Email">
                </li>
                </br>
                <li>
                    <label for="password">Password</label>
                    </br>
<<<<<<< Updated upstream
                    <input type="text" id="password" name="password" placeholder="Password">
=======
                    <input type="password" id="pwd" name="password" placeholder="********">
                    <i class="fas fa-eye" onclick="showhide()" id="eye"></i>
                    <script>
                        var eye = document.getElementById("eye");
                        var pwd = document.getElementById("pwd");

                        function showhide(){

                                if (pwd.type == "password") {
                                    pwd.type = "text";
                                        eye.className='fas fa-eye-slash'
                                }else {
                                    pwd.type = "password";
                                    eye.className='fas fa-eye'
                                }
                        }
                    </script>

>>>>>>> Stashed changes
                </li>
                </br>
                <li>
                    {{!-- <input type="submit" value="confirm">  --}}
                    {{!-- <button onclick="document.location='/customer/register'" class="register-btn">register</button> --}}
                    {{!-- <a href="/customer/register" class="register-btn"> register </a> --}}
                     <button class="register-btn"><a href="/customer" class="a-register">Cancel</a></button>
                     &nbsp;&nbsp;
                    {{!-- <input type="submit" value="confirm">  --}}
                    <button type="submit" class="register-btn"> Confirm</button>
                    {{!-- <button type="submit" class="register-btn"> <a class="a-register">Confirm</a></button> --}}
                </li>
        </form>
    </div>
</section>