<section id="order-success">
    <h1>{{thiscustomer.firstName}}'s order has been Placed!</h1>
    <li>
        <button class="register-btn">
        <a href="/customer/Orders" class="a-register">Check Your Order</a>
        </button>
    </li>

    {{!-- <a href="/customer/{{thiscustomer._id}}/Orders" class="register-btn">Check Your Order</a> --}}
</section>