<section>
    <h1>register page</h1>
        <div>
            <form action="register" method="post">
                <ul style="list-style-type:none">
                    <li>
                        <label for="first_name">first name</label>
                        <input type="text" id="first_name" name="first_name" placeholder="first name">
                    </li>
                    </br>
                    <li>
                        <label for="last_name">last name</label>
                        <input type="text" id="last_name" name="last_name" placeholder="last name">
                    </li>
                    </br>
                    <li>
                        <label for="email">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email</label>
                        <input type="text" id="email" name="email" placeholder="email">
                    </li>
                    </br>
                    <li>
                        <label for="password">password</label>
                        <input type="text" id="password" name="password" placeholder="password">
                    </li>
                    </br>
                    
                    <li>
                        <a href="/try/login" class="button"> login </a>
                        <input type="submit" value="confirm">
                    </li>
                </ul>
            </form>
        </div>

</section>