<section id="order-success">
    <h1>{{vanId}} has been selected</h1>
    <li>
        <button class="register-btn">
        <a href="/customer/menu" class="a-register">Go to Menu</a>
        </button>
    </li>

    {{!-- <a href="/customer/{{thiscustomer._id}}/newOrders" class="register-btn">Check Your Order</a> --}}
</section>