<section>
    <h1>
        Location send and mark van as open-for-business!
    </h1>
    <center>
        <button class="register-btn"><a href="/vender/vans/orders" class="a-register">View Orders</a></button>
    </center>
    

</section>