<section>
    <h1>Login successfully!</h1>
    <form action="send_location" method="post" >
        <table style="margin: auto; border-spacing: 10px">
            <tr>
                <td>Please send your location:</td>
                <td>
                    <input style="height:26px;font-size:14pt;"type="text" id="van_location" name="van_location" placeholder="Location">
                </td>
            </tr>
            <tr>
                <td colspan="2"><center><button type="submit" class="register-btn">Confirm</button></center></td>
            </tr>
        </table>
    </form>
</section>