<section>
    <h1>The Van is now {{oneVan.status}}!</h1>
    <center><button class="register-btn",margin="0 auto"><a href="/vender/vans/home" class="a-register">Continue</a></button></center>

</section>