<section id="venderHomePage">
    <h1>Vender Login</h1>
    <form action="vender/vans/login" method="post" >
        <table style="margin: auto; border-spacing: 10px">
        <tr>
            <td>Van Name:</td>
            <td>
                <input style="height:26px;font-size:14pt;"type="text" id="van_name" name="van_name" placeholder="Van ID">
            </td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
                <input style="height:26px;font-size:14pt;"type="password" id="van_password" name="van_password" placeholder="Password" >
            </td>
            <td>
                <button type="submit" class="register-btn"> Confirm</button>
            </td>
        </tr>
        <tr>
            <td><a href="vender/vans/register" style="color: #7A280A;">Register</a></td>
            <td ><a href="vender/vans/forget-password" style="color: #7A280A;">Forget Password</a></td>
        </tr>
        </table>
    </form>
</section>
