/* central area to control type and colour */

:root {
    --text-big: 36px;
    --text-medium: 22px;
    --text-small: 16px;
    /* --font-body: 'Lexend Mega', sans-serif; */
    /* --font-body: 'Goudy Bookletter 1911', serif; */
    --font-body: 'Roboto', sans-serif;
    --font-heading: 'Rammetto One', cursive;
    /* --font-heading:'Goudy Bookletter 1911', serif; */
    --color-dark: #7A280A;
    --color-medium: #F8B5A5;
    --color-light: #F8EDEC;
    --color-grey: #EEEEEE;
    --color-background: #F5F2ED;
    --color-brown: #BF863F;
    --color-median-yellow: #CC9E22;
}


/* elements that are on every page */

body {
    font-family: var(--font-body);
    font-size: var(--text-medium);
    background-color: var(--color-background);
    color: var(--color-dark);
}

header,
footer {
    color: var(--color-dark);
    background-color: var(--color-brown);
    text-align: center;
    font-family: var(--font-heading);
    margin: 0;
}


h1 {
    text-align: center;
    font-size: var(--text-big);
    color: var(--color-dark);
    margin-top: 0;
}

a {
    text-decoration: none;
    /* switch off underlining of anchors */
}

nav {
    background-color: var(--color-background);
    font-weight: bold;
    font-size: 24px;
    position: sticky;
	top: 0;
}
header h1 a {
    color: var(--color-dark);
}

footer p {
    margin-bottom: 0;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #333;
    /* old IE */
    background-color: #333;
    /* Modern Browsers */
}

button#updateStatus {
    align-items: flex-start;
    text-align: center; 
}
#register-page ul{
    padding:0
}
/**************************************************************************/
/*login page*/
.register-btn {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    border-width: 2px;
    border-style: outset;
    background-color: var(--color-brown);
    color: black;
    font-size: var(--text-medium);
    transition: background-color 0.3s;
}

.register-btn:hover{
    background-color: #e7c52e;
    transition: background-color 0.3s;

}

/* hyperlink is black */
.a-register{
    color:black;
}
#login-page input[type$=submit]{
    display: inline-block;
    text-align: center; 
    font-size: var(--text-medium);
}

#login-page ul{
    padding: 0;
}
#register-page input[type$=submit]{
    display: inline-block;
    text-align: center; 
    font-size: var(--text-medium);
}
#register-page ul{
    padding: 0;
}
#register-fail input[type$=submit]{
    display: inline-block;
    text-align: center; 
    font-size: var(--text-medium);
}
#register-fail ul{
    padding: 0;
}
#order-success li {
    /* each individual food listing */
    list-style-type: none;
    /* switch off bullet-points */
    display: flex;
    flex-direction: row;
    /* image and text are side-by-side */
    justify-content: center;
    /* text aligns left */
    align-items: center;
    /* and vertically aligns to center */
}
#login-page p{
    text-align: center;
}
#login-register-btn {
    align-items:center
}

#vanDetials a{
    
}

a#updateVanStatus {   /* the heart-shaped 'favourite' button */
    font-size: 25px;
    color: var(--color-brown);
    background-color: lightgrey;
    display: block;
    text-align:center;
}    

a#updateVanStatus:hover {
    color: var(--color-dark);
}


a#availability {   /* the heart-shaped 'favourite' button */
    font-size: 25px;
    color: var(--color-brown);
    background-color: lightgrey;
    display: block;
    text-align:center;
}    

a#availability:hover {
    color: var(--color-dark);
}

a#updateOrderStatus {   /* the heart-shaped 'favourite' button */
    font-size: 25px;
    color: var(--color-brown);
    background-color: lightgrey;
    display: block;
    text-align:center;
}    

a#updateOrderStatus:hover {
    color: var(--color-dark);
}


/* #shopping-cart button:hover {
    background-color: #CC9E22;
} */

#vanDetials table {
    /* the table of nutritional data */
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: var(--color-grey);
    border: solid grey 1px;
}
#foodList p {
    /* the words at the top of the page */
    text-align: center;
    flex-basis: 60%;
}

/**************************************************************************/
/* the Browse Foods page showing all the foods */

#foodList p {
    /* the words at the top of the page */
    text-align: center;
    flex-basis: 60%;
}

#foodList ul {
    /* the list of foods */
    padding: 0;
}

#foodList li {
    /* each individual food listing */
    list-style-type: none;
    /* switch off bullet-points */
    display: flex;
    flex-direction: row;
    /* image and text are side-by-side */
    justify-content: flex-start;
    /* text aligns left */
    align-items: center;
    /* and vertically aligns to center */
}

#foodList img {
    /* images in food listings */
    width: 140px;
    height: 80px;
    padding: 10px;
    object-fit: scale-down;
}

#foodList a {
    /* the food names */
    color: var(--color-dark);
}

/**************************************************************************/
/*orderlist*/
#orderList p {   /* the words at the top of the page */
    text-align: center;
    flex-basis: 60%;
}

#orderList ul {  /* the list of foods */
    padding: 0;
}

#orderList li {  /* each individual food listing */
    list-style-type: none;
    /* switch off bullet-points */
    display: flex;
    flex-direction: row;
    /* justify-content:space-evenly;   */
    align-items: center;
}

#orderList table {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    background-color: var(--color-grey);
    border: solid grey 1px;
}
/* #orderListItemTable {
    style="border: 5px solid #BF863F; "
} */
#orderList a {   /* the food names */
    color: var(--color-dark);
}

/**************************************************************************/
/*shopping cart*/
#shopping-cart img {
    /* width:  200px;
    height: 100px;*/
    height: 100px;
    /* padding: 10px 20px 10px 20px; */
    padding-top: 1%;
    /* width: 21.8%; */
    width: 25%;
    object-fit: scale-down;
}

#shopping-cart button:hover {
    background-color: #CC9E22;
}

#shopping-cart p {
    /* the words at the top of the page */
    text-align: center;
    flex-basis: 25%;
}

#shopping-cart ul {
    /* the list of foods */
    padding: 0;
    margin-block-end:0;
}

#shopping-cart li {
    /* each individual food listing */
    list-style-type: none;
    /* switch off bullet-points */
    display: flex;
    flex-direction: row;
    /* justify-content:space-evenly;   */
    align-items: center;
    /* and vertically aligns to center */
}
#shopping-cart form input[type$=submit]:hover {
    background-color: #e7c52e;
    transition: background-color 0.3s;
}

#shopping-cart-form{
    display:flex;
    flex-basis: 25%;
}





form {
    /* centre the form */
    display: flex;
    justify-content: center;
}

form input {
    font-size: var(--text-medium);
}

form input[type$=submit] {
    /* submit button - note use of attribute selector */
    background-color: var(--color-brown);
}
/* input[type=submit]:hover {
    background-color: #45a049;
  } */


  
form span.bigScreen {
    /* on small screens, hide some of the wording */
    display: none;
}

/**************************************************************************/
/*section for addToCart in each food*/
a#addToCart {   /* the heart-shaped 'favourite' button */
    font-size: 25px;
    color: var(--color-brown);
    background-color: lightgrey;
    display: block;
    text-align:center;
}    

a#addToCart:hover {
    color: var(--color-dark);
}


/**************************************************************************/
/* the page showing details about an individual food */

#oneFood-details {
    /* picture, description and table */
    display: flex;
    flex-direction: column;
}

#oneFood-text {
    padding: 10px;
}

#oneFood img {
    /* centre the image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#oneFood p {
    /* the "description" text */
    font-size: var(--text-small);
    text-align: center;
}

#oneFood p#price {
    /* the "description" text */
    font-size: var(--text-small);
    text-align: center;
    font-weight: bold;
}

#oneFood table {
    /* the table of nutritional data */
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    background-color: var(--color-grey);
    border: solid grey 1px;
}

/**************************************************************************/
/* Modal (background) */

.modal-background {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal (content) */

.modal-foreground {
    /* background-color: var(--color-medium); */
    background-color: var(--color-medium);
    text-align: center;
    margin: 30% auto;
    /* 15% from the top and centered */
    width: 50%;
}


/**************************************************************************/
/* Responsive Design */

@media screen and (max-width: 620px) {
    /* for phone size */
    h1{
        font-size: 28px;
    }
    nav{
        background-color: var(--color-grey);
        font-size: var(--text-medium);
    }
    body {
        background-color: var(--color-grey);
        font-size: var(--text-small);
    }
    #shopping-cart h1 {
        font-size: var(--text-medium);
    }
    
    #orderList h1 {
        font-size: var(--text-medium);
    }
    .menu-bar {
        font-size: var(--text-medium);
    }
    
    #shopping-cart img {
        height: 50px;
    }
    #oneFood h1{
        font-size: var(--text-medium);
    }
    #shopping-cart input[type$=submit]{
        font-size: var(--text-small);
    }
    #orderList table {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-color: var(--color-grey);
        border: solid grey 1px;
    }
    .register-btn {
        font-size: var(--text-small);
    }
    input::placeholder{
        font-size: var(--text-small);
    }
}


@media screen and (min-width: 621px) {
    /* for tablet-sized screens */

    #foodList ul {
        /* flow food list into two columns */
        column-count: 2;
    }

    #orderList ul {      /* flow food list into two columns */
        column-count: 1;
    }


    #oneFood-details {
        flex-direction: row;
        /* now picture and text are side-by-side */
    }
    #oneFood-picture,
    #oneFood-text {
        /* divide the sceren into two halves */
        flex-basis: 50%;
    }
    #oneFood p#description {
        /* increase font size of food description */
        font-size: var(--text-medium);
        text-align: left;
    }
    #oneFood p#price {
        /* add a price font and bold*/
        font-size: var(--text-medium);
        font-weight: bold;
        text-align: right;
    }
    form span.bigScreen {
        /* spell out abbreviated words in full */
        display: inline;
    }
}

@media screen and (min-width: 1200px) {
    /* for big screens */
    #foodList ul {
        /* flow food list into three columns */
        column-count: 3;
    }
    #orderList ul {      /* flow food list into two columns */
        column-count: 1;
    }
}

@media screen and (min-width: 1600px) {
    /* for very big screens */
    #foodList ul {
        /* flow food list into four columns */
        column-count: 4;
    }
    #orderList ul {      /* flow food list into two columns */
        column-count: 1;
    }
}